# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Michael Steeves
email = michael@steeves.io
[http]
	cookiefile = /Users/michael/.gitcookies
